@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100%;
    width: 100vw;
    background-color: #ffffff;
    color: #030c16;
    font-family: "Montserrat", sans-serif;
}

.nav-section{
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid rgb(218, 217, 217);
    position: fixed;
}

.nav-bar{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    width: 10%;
    height: 100%;
    height: 100%;
    /* border: 1px solid; */
}

.nav-logo img{
    width: 100%;
    
}

.nav-element{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.nav-element a{
    /* box-sizing: border-box; */
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-align: center;
    align-self: center;
    height: 100%;
    color: #9d41a9;
    /* border: 1px solid; */
}

.nav-element a:hover{
    border-bottom: 2px solid red;
}

.nav-left-element{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1rem; */
    font-size: 0.9rem;
    font-weight: 700;

}

.nav-right-element{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-right-element{
    font-size: 0.7rem;

}

.nav-account{
    border-left: 1px solid rgb(224, 224, 224);
    width: 15%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-account button{
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: rgb(237,13,51);
    background: linear-gradient(140deg, rgba(237,13,51,1) 0%, rgb(198, 0, 119) 95%); 
    color: white;
    font-weight: 600; 
    font-size: 0.8rem;
}

.nav-account button:hover{
    background: rgb(157, 5, 30);
    background: linear-gradient(140deg, rgb(195, 6, 37) 0%, rgba(142,0,85,1) 95%);
}

/* footer section */

footer{
    width: 100%;
    height: 95vh;
    background-color:#F2F2F2 ;
    padding: 2rem 0;
}

.footer-content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;

}

.footer-top{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 3rem;
    border-bottom: 1px solid #c6c6c6;
    margin: 1rem 0;

}

.footer-top-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 1rem 2.5rem ;
    gap: 1rem;
    margin: 1rem 0;

    
}

.footer-top-card h3{
    font-size: 1rem;
    font-weight: bolder;

}

.footer-top-card a{
    text-decoration: none;
    font-size: 0.8rem;
    color: #9d41a9;
    font-weight: 500;
}

.footer-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    color: #605f5f;
    font-size: 0.7rem;

}

.fmt{
    margin-bottom: 1rem 0;
}

.fmm{
    margin: 0.5rem 0;
}
.fmb{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    
}

.fmb a{
    text-decoration: none;
    color: #872294;
    font-weight: 500;
}

.footer-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.footer-bottom p{
    font-size: 0.7rem;
    color: #605f5f;
    flex-wrap: wrap;
}

.footer-social-media{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1.5rem 2rem;
}

.footer-social-media img{
    width: 30px;
}

