@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100%;
    width: 100vw;
    background-color: #ffffff;
    color: #030c16;
    font-family: "Montserrat", sans-serif;
}

.nav-section{
    width: 100vw;
    height: 10vh;
    border-bottom: 1px solid rgb(218, 217, 217);
    position: fixed;
    z-index: 10;
    background-color: #ffffff;
}

.nav-bar{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    width: 10%;
    height: 100%;
    height: 100%;
    /* border: 1px solid; */
}

.nav-logo img{
    width: 150px ;
    
}

.nav-element{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.nav-element a{
    /* box-sizing: border-box; */
    text-decoration: none;
    display: flex;
   
    align-items: center;
    padding: 0 10px;
    text-align: center;
    align-self: center;
    height: 100%;
    color: rgb(97,18,107);
    /* border: 1px solid; */
}

.nav-element a:hover{
    border-bottom: 2px solid red;
}

.nav-left-element{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1rem; */
    font-size: 0.9rem;
    font-weight: 700;

}

.nav-right-element{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-right-element{
    font-size: 0.7rem;

}

.nav-account{
    border-left: 1px solid rgb(224, 224, 224);
    width: 15%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-account button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: rgb(237,13,51);
    background: linear-gradient(140deg, rgba(237,13,51,1) 0%, rgb(198, 0, 119) 95%); 
    color: white;
    font-weight: 600; 
    font-size: 0.8rem;
}

.nav-account button:hover{
    background: rgb(157, 5, 30);
    background: linear-gradient(140deg, rgb(195, 6, 37) 0%, rgba(142,0,85,1) 95%);
}

/* main section */
section{
    width: 100vw;
    padding: 5.5rem 0;
    background-color: white;
    
}

section h3{
    max-width: 1200px;
    margin: 0 auto;
    color: rgb(236, 0, 39);
    font-size: 0.9rem;
    font-weight: 400;
    padding-left: 5px;
}
.sp1{
    /* font-weight: bolder; */
    color: purple;
    cursor: pointer;

}
.sp2{
    color: black;
    font-weight: 600;
    margin: 0 10px;
    cursor: text;
}
.hero-section{
    width: 100%; 
    background-color: #F5F6F8;   
    /* height: 400px;     */
    margin-top: 1rem ;
    

}

.hero-content{
    max-width: 1200px;
    /* border: 1px solid green; */
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 5rem 0;
    
}

.hero-content div{
    width: 50%;
    padding: 1rem;
    line-height: 5rem;
    
}


.hero-content h2{
    color: #000000;
    font-size: 56px;
    font-weight: 100;
    margin: 1rem 0;
}

.hero-content p{
    color: rgb(48, 48, 48);
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0;
    line-height: 2rem;
}

.hero-content button{
    margin: 1rem 0;
    width: fit-content;
    padding: 0.5rem 2rem;
    font-size: 1.1rem;
    font-weight: 300;   
    background: rgb(237,13,51);
    background: linear-gradient(140deg, rgb(218, 0, 36) 0%, rgb(95, 2, 58) 95%); 
    color: white;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}


.hero-content button:hover{
    background: rgb(157, 5, 30);
    background: linear-gradient(140deg, rgb(131, 1, 22) 0%, rgb(93, 1, 56) 95%);
    
}

.hero-content div span{
    display: inline;
    font-size: 1rem;
    margin: 0 0.5rem;
    text-wrap: wrap;
    cursor: pointer;

}

.hero-content div span i{
    color: red;
}

.middle-content{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    

}

.left-middle-content{
    width: 58%;    
}

.left-middle-content h2{
    font-size: 2.5rem;
    font-weight: 200;
    margin: 2rem 0;
}

.left-middle-content p{
    line-height: 2rem;
    font-size: 1.1rem;
    font-weight: 420;
    margin: 2rem 0;
}
.right-middle-content{
    /* padding: 1rem 0; */
    width: 40%;
}
.right-middle-content img{
    padding: 1rem;
    width: 80%
}

.middle-container{
    max-width: 1200px;
    /* border-top: 1px solid #cdced0; */
    margin:0 auto;
    margin-top: 2rem;
    padding: 2rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.condition-statement{
    width: 70%;
    padding: 2rem;
    border-top: 1px solid rgb(211, 211, 211);
}

.download-card{
   width: 70%;
   padding: 2rem;
   background-color: #F5F6F8;
   border-radius: 5px;

}
.download-card p{    
    display: inline;
    padding: 1rem;
    font-weight: 600;
    color: purple;

}


/* footer section */

footer{
    width: 100vw;
    /* height: 95vh; */
    background-color:#F2F2F2 ;
    padding: rem 0;
    position: relative;
    top: 100px;
}

.footer-content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;

}

.footer-top{
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    border-bottom: 1px solid #c6c6c6;
    margin: 1rem 0;

}

.footer-top-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 1rem 2.5rem ;
    gap: 1rem;
    margin: 1rem 0;

    
}

.footer-top-card h3{
    font-size: 1rem;
    font-weight: bolder;

}

.footer-top-card a{
    text-decoration: none;
    font-size: 0.8rem;
    color: rgb(97,18,107);
    font-weight: 500;
}

.footer-middle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    color: #605f5f;
    font-size: 0.7rem;
    text-align: center;

}

.fmt{
    margin-bottom: 1rem 0;
}

.fmm{
    margin: 0.5rem 0;
}
.fmb{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
    
}

.fmb a{
    text-decoration: none;
    color: rgb(97,18,107);
    font-weight: 500;
}

.footer-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.footer-bottom p{
    font-size: 0.7rem;
    color: #605f5f;
    flex-wrap: wrap;
}

.footer-social-media{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1.5rem 2rem;
}

.footer-social-media img{
    width: 30px;
}
@media screen and (max-width:770px){
    .nav-element{
        display: none;
    }
    .nav-bar{
        display: flex;
        justify-content: space-between;
        padding: 0 2rem ;
    }

    .hero-content{
        padding: 0 2rem;
    }

    .middle-content{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin: 5rem;
        /* border: 1px solid; */
        margin: 1rem 0;
    }
    .right-middle-content{
        /* padding: 1rem 0; */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-content div{
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:500px){
    .footer-top{
        flex-direction: column;
        gap: 0;
    }
    .hero-content h2{
        font-size: 3rem;
    }
    .hero-content-div p{
        margin: 1rem 0;
        display: block;
    }
}
